{{ $currentPage := .   }}
<!-- navigation -->
<aside class="col-lg-3 col-xxl-2 p-3 doc-sidebar">
  <div class="sticky">
    <nav class="navbar navbar-vertical navbar-expand-lg navbar-light">
      <div class=''>
        <a href="/docs" class="navbar-brand">
          <img src="/img/logbird.svg" style='width: 50px;' class='img-fluid' alt="Logo">Logbird
          <span class='text-gray small text-uppercase'>docs</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span classdocs="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {{ $currentSubject := index .Params.categories 0}}
        <ul id="page-nav" class="nav flex-column nav-vertical-2">
          {{ range $sub, $taxonomy := .Site.Taxonomies.categories }}
          <li class="nav-item {{ if eq $sub $currentSubject }}active{{end}}">
            <a class="nav-link text-capitalize" data-toggle="collapse" href="#{{ substr $sub 1 }}" role="button" aria-expanded="{{ if eq $sub $currentSubject }}true{{ else }}false{{end}}" aria-controls="{{ substr $sub 1 }}">{{ substr $sub 1 }}</a>
            {{ $lowerCurrentSubject := lower $currentSubject }}
            <div class="collapse {{ if eq $sub $lowerCurrentSubject }}show{{end}}" id="{{ substr $sub 1 }}" data-parent="#page-nav">
              <ul class="nav flex-column">
                {{ range $taxonomy }}
                <li class="nav-item">
                  <a class="nav-link {{ if eq .Page.URL $currentPage.URL }}active{{end}}" href="{{ .Page.Permalink }}">{{ .Params.LinkTitle }}</a>
                </li>
                {{ end }}
              </ul>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
</aside>
<!-- / navigation -->



