  <!-- Footer Start -->
  <footer class="footer theme-bg">
    <div class="bg-effect"></div>
    <section class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-5 sm-m-15px-tb md-m-30px-b">
            <h4>About Us</h4>
            <p class="footer-text">Brought to you by the minds behind <a href='https://dashbird.io'>Dashbird.io</a>, your friendly neighbourhood serverless observability platform.</p>
            <ul class="social-icons">
              <!-- <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li> -->
              <!-- <li><a class="twitter" target='_blank' href="https://twitter.com/logpipe"><i class="fab fa-twitter"></i></a></li> -->
              <!-- <li><a class="google" href="#"><i class="fab fa-google-plus-g"></i></a></li> -->
              <!-- <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li> -->
            </ul>
          </div> <!-- col -->

          <div class="col-6 col-md-4 col-lg-2 sm-m-15px-tb">
          </div> <!-- col -->

          <div class="col-6 col-md-4 col-lg-2 sm-m-15px-tb">
          </div>

          <div class="col-md-4 col-lg-3 sm-m-15px-tb">
            <h4>Get in touch</h4>
            <p>548 Market St., <b>San Francisco</b></p>
            <p><span>E-Mail:</span> logbird@dashbird.io</p>
            <p><span>Phone:</span> +1 (415) 800-3065</p>
          </div> <!-- col -->

        </div>
        
        <div class="footer-copy">
          <div class="row">
            <div class="col-12">
              <p>All © Copyright by Dashbird. All Rights Reserved.</p>
            </div><!-- col -->
          </div> <!-- row -->
        </div> <!-- footer-copy -->

      </div> <!-- container -->   
    </section>
  </footer>
  <!-- / -->
